<section>

  <div>
  <h1>Your favourite coins</h1>

  <table>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <% for coin in @coins %>
    <tr>
      <td><a href="/coins/<%=coin.id%>"><%= coin.name %></a></td>
      <td>|</td>
    </tr>
    <% end %>

  </table>
  </div>
  
</section>
