<style>


#city {
  background-image: url('/images/cityscape.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 90vh;
}
</style>

<div class="first-page">
    <div class="box"><img id="city"></a></div>
    <br>
    <br>
</div>
