<style>
footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
</style>

<div class="container">
    <div><h1> coins</h1></div>
    <div><a href= "/coins">saved coins</a></div>
    <div><a href= "/bitcoins">bitcoins</a></div>
    <div><a href= "/graphs">graphs</a></div>

    <br>
    <br>
</div>
