<style>
footer {
  position: fixed;
  bottom: 0;
  left: 0;
}
</style>

<div class="container">
    <div class="box"><h1> coins</h1></div>
    <div class="box"><a href= "/coins">coins</a></div>
    <br>
    <br>
</div>
