<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script type="text/javascript" src="../anychart-base.js"></script>
  <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-core.min.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/releases/8.1.0/js/anystock.min.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/releases/8.1.0/js/anychart-base.min.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-base.min.js"></script>
  <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.1.0/css/anychart-ui.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Anton|Lato" rel="stylesheet">
  <link rel="stylesheet" tyoe="text/css" href="/styles/nav.css">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">

  <title>Cryptonite</title>
</head>

  <body>
    <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href= "/bitcoins">Cryptocurrencies</a></li>
      <li><a href="/graphs">Graphs</a></li>
      <li><a href= "/coins">Favourite Coins</a></li>
      <li><a href="/coins/new">Add a coin</a></li>
    </ul>
  </nav>
    <section>
      <%= yield %>
    </section>


  </body>
</html>
