.high {
  background: green;
  color: white;
}
.prices {
  float: right;
}

.low {
  background: red;
  color: white;
}

path{
  fill: red important!;
}

table {
  margin-left: 100px;
  overflow: scroll;
}
#first-page {
  overflow: hidden;
}
