

table {
	border-collapse: collapse;
	border-spacing: 0;
}
.high {
  background: green;
  color: white;
}
.prices {
  float: right;
}

.low {
  background: red;
  color: white;
}

table {
  margin-left: 100px;
  overflow: scroll;
}
#first-page {
  overflow: hidden;
}

#graph-layout {
  margin: 10px 50px 0 50px;
  padding: 10px 25px 0 25px;
}
