.navbar {
  margin: 0;
  padding: 0;
  border-bottom: 5px solid #F21B3F;
  font-size: 30px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background: #4E7DE7;
}

.navbar a {
  color: #221E22;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  transition: all .2s ease-in-out;

}

.navbar a:hover {
  background: #D2DBFC;
}

@media all and (max-width: 600px) {
  .navbar ul {
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
  }
}
