
<section>

  <div>
    <h1>Your Favourite Cryptocurrencies</h1>
    <h2>Keep a record of ones to watch out for</h2>



    <ul>Name

    <% for coin in @coins %>

    <li><%= coin.name %></li>
    <% end %>
    
    </ul>

  </div>

</section>
