

<h1>The Key Players</h1>

<% @coins = [] %>
<% @names = [] %>
<% @bitcoins.each do |bitcoin| %>
<%    @coins << bitcoin["price_usd"].to_i %>
<%    @names << bitcoin["name"].to_s %>
<% end %>

<h2><%=@names[0] %> is out in front, selling at <span>$<%=@coins[0] %>/coin</span></h2>
<br />
<h3>See how the rest of the top 10 ranked cryptocurrencies are doing!</h3>

<div id="container" style="max-width: 70%; height: 400px;">

  <script type="text/javascript">
      anychart.onDocumentReady(function() {

          var data =
            [
              <% j = 1 %>
              <% while j < 10  do %>
              ["<%= @names[j].to_s %>", <%= @coins[j].to_i  %>],
              <% j+= 1 %>
              <% end %>
            ];

          chart = anychart.bar();
          var series = chart.bar(data);
          series.normal().fill("red", 0.3);
          series.normal().stroke("red");
          // sets container id for the chart
          chart.container('container');
          // initiates drawing and sets details
          chart.title("Cryptocurrency Prices");
          chart.draw();
          chart.yAxis().title('Price in USD');
          chart.xAxis().title('Top Ranked Coins');
          chart.tooltip().format('${%Value}');

      });
  </script>

</div>
