
<section id="graph-layout">
  <h1 id="graph-title">The Top 10 Key Players</h1>
  <p class="comment">Ranked by circulating supply</p>

<% @coins = [] %>
<% @names = [] %>
<% @bitcoins.each do |bitcoin| %>
<%    @coins << bitcoin["price_usd"].to_i %>
<%    @names << bitcoin["name"].to_s %>
<% end %>

  <h2><%=@names[0] %> is out in front, selling at <span id="top-price">$<%=@coins[0] %>/coin</span></h2>
  <h3>See how the rest are doing:</h3>

  <div id="container" style="width: 100%; height: 400px;">

    <script type="text/javascript">
        anychart.onDocumentReady(function() {

          var data =
            [
              <% j = 1 %>
              <% while j < 10  do %>
              ["<%= @names[j].to_s %>", <%= @coins[j].to_i  %>],
              <% j+= 1 %>
              <% end %>
            ];

          chart = anychart.bar();
          var series = chart.bar(data);
          series.normal().fill("#FC4104", 0.7);
          series.normal().stroke("#FC4104");
          series.hovered().fill("#5171EA", 0.5);

          // sets container id for the chart
          chart.container('container');
          // initiates drawing and sets details
          chart.title("Cryptocurrency Prices");
          chart.draw();
          chart.yAxis().title('Price in USD');
          chart.xAxis().title('Top Ranked Coins');
          chart.tooltip().format('${%Value}');

        });
      </script>
    </div>
</section>
