<section>

  <div>
  <h1>Bitcoins</h1>

  <table>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>

      <!-- <% @bitcoins %> -->
      <%= @bitcoins %>
      <% @bitcoins.each do |bitcoin| %>
        <%= bitcoin["name"] %>
        <% end %>
  </table>
  </div>

</section>
