
<section>

  <div>
  <h1>Bitcoins</h1>

  <table>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
      <% @bitcoins.each do |bitcoin| %>
        <%= bitcoin["name"] %>
        <%= Time.at(bitcoin["last_updated"].to_i).to_datetime %>
        <% end %>
  </table>
  </div>

</section>
